<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>2 v-show</title>
    </head>
    <body>

        <div id="app">
            <h1 class="error">{{ score }}分</h1>
            <div v-show="score">
                <p v-if="score >= 6">Vue.js so easy</p>
                <p v-else>still learning Vue.js</p>
            </div>
            <p>你覺得vue.js簡單嗎？請輸入1~10分</p>
            <input type="text" v-model="score">
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
        <script>
            new Vue({
                el:'#app',
                data:{
                    score:'0'
                }
            });
        </script>
    </body>
</html>